
.logofolio_logo{
  text-align: center;
  /* background-color: lightgrey; */ 
  display: flex;
  justify-content: center;
}

.grid_4x5{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
  grid-template-rows: repeat(4, 9.8vw);
  margin-bottom: 12px;
}

.container_logo{
  height: 40%;
  margin: auto;
}

/* first row */
.logofolio_logo:hover #streetchat_color{
    fill: #FDC300;
}

.logofolio_logo:hover #bako_color{
  fill: #ffd70c;
}

.logofolio_logo:hover #madamesaucisse_1{
  fill: #e5a0be;
}
.logofolio_logo:hover #madamesaucisse_2{
  fill: #e082a7;
}

.logofolio_logo:hover #dececco{
  fill: #1a2544;
}

.logofolio_logo:hover #bern{
  fill: red;
}

/*second row*/
.logofolio_logo:hover .ufored{
  fill: #e2131b;
}

#ufogradient{
  --color-stop: #black;
}
.logofolio_logo:hover #ufogradient{
  --color-stop: #e2131b;
}

.logofolio_logo:hover #jaguar{
  fill: #4ac1e0;
}
.logofolio_logo:hover #benin_vert{
  fill: #008652;
}
.logofolio_logo:hover #benin_red{
  fill: #e41930 ;
}
.logofolio_logo:hover #benin_jaune{
  fill: #fcd118;
}
.logofolio_logo:hover #benin_bleu{
  fill: #375fa8;
}

.logofolio_logo:hover #banana_jaune{
  fill: #f8b133;
}
.logofolio_logo:hover #banana_gris{
  fill: #272635;
}

.logofolio_logo:hover #algae{
  fill: #55aeaf;
}

.logofolio_logo:hover #capessor_orange{
  fill: #eb5a29;
}
.logofolio_logo:hover #capessor_marron{
  fill: #66392b;
}

.logofolio_logo:hover #fabric_vert{
  fill: #a2c052; 
}
.logofolio_logo:hover #fabric_bleu{
  fill: #215475; 
}

.logofolio_logo:hover #ice_bleu{
  fill: #415e85;
}
.logofolio_logo:hover #ice_orange{
  fill: #e67364;
}
.logofolio_logo:hover #ice_vert{
  fill: #70d0c7 ;
}
.logofolio_logo:hover #ice_violet{
  fill: #9982ec;
}

#veilleurs{
  visibility: hidden;
}
.logofolio_logo:hover #veilleurs{
  visibility: visible;
}
.logofolio_logo:hover #veilleurs_B{
  visibility: hidden;
}

#era {
  visibility: hidden;
}
.logofolio_logo:hover #era{
  visibility: visible;
}