@media screen and (max-aspect-ratio: 2/3) {
  .footer_container{
    grid-template-columns: 1;
    grid-template-rows: repeat(3/ 1fr);
  }
}

footer{
  margin: 0 12px 0 12px;
}

.footer_separator{
  text-transform: uppercase;
  width: 60%;
}

.footer_container .separator{
  margin-top: 12px;
}

.separator_bottom {
  grid-column: 1/4;
  border: 1px solid var(--text-color);
  margin-top: 12px;
}


.footer_element {
  width: 20%;
  margin-bottom: 32px;
}


.footer_container{
  margin-top: 12px;
  text-transform: uppercase;
  font-size: 14px;  
  height: 12vw;
  flex-direction: row;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.footer_container_noheight{
  margin-top: 12px;
  text-transform: uppercase;
  font-size: 14px;  
  flex-direction: row;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.footerHome{
  height: inherit;
}

.legal {
  margin-top: 32px;
  font-size: 12px;
}

.contact a {
  font-size: 12px;
  color: var(--text-color);
  line-height: 17px;
  font-weight: bold;
  text-decoration: underline;
}

.contact a:hover {
  color: var(--color-hover);
  font-style: italic;
}

.monogram {
  height: 48px;
  fill: var(--text-color);
}

.monogram:hover{
  fill: var(--color-hover);
}
